body
{
    margin: 0;
}

body > aside > nav#site-toc
{
    background-color: #DDFFDD;
    align-self: start;
}

body > main > nav#path
{
    background-color: #FFFFAA;
}

body > main > div#content > article
{
    background-color: #DDDDFF;
}

body > main > div#content > aside#aside-r > nav#browse
{
    background-color: #AAFFFF;
    flex-grow: 0;
}

body > main > div#content > aside#aside-r > nav#page-toc
{
    background-color: #FFDDDD;
    flex-grow: 0;
}

.flex-child
{
    flex-grow: 1;
}

.flex-row
{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.flex-column
{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.align-start
{
    align-items: start;
}

body > aside#aside-l
{
    flex-basis: 20%;
}

body > main
{
    flex-basis: 80%;
}

body > main > div#content > article#page
{
    flex-basis: 75%;
}

body > main > div#content > aside#aside-r
{
    flex-basis: 25%;
}

body > main > nav#path
{
    flex-grow: 0;
}

.sticky-top
{
    position: sticky;
    top: 0;
}

.sticky-sidebar
{
    position: sticky;
/*    position: absolute;*/
    top: 0;
    padding:0;
}

.padded
{
    padding: .5em;
}

.overlay
{
}

.ssb-fixed
{
    z-index: 1;
    background-color: rgba(255,255,128,1);
    position: fixed;
    margin: 0;
    opacity: 0.5;
}

.ssb-spacer
{
    background-color: #AAFFAA;
}
